<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop Installed Successfully</title>
<!--    <link rel="stylesheet" th:href="@{/css/style.css}" />-->
</head>
<body>
<div class="container">
    <h1>Shop Installation Successful </h1>
    <p>Your store <strong th:text="${shopName}"></strong> has been successfully integrated.</p>
    <p>Shop Domain: <strong th:text="${domain}"></strong></p>
    <a href="/">Go to Dashboard</a>
</div>
</body>
</html>